body{
    margin: 0;
}

.header {
    background: rgba(0,0,0,0.5);
    padding: 20px 30px 20px 30px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px;
}

.products__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 30px;
}

.price {
    padding: 10px 0;
    font-weight: bold;
}

.btn {
    outline: none;
    border: none;
    background: none;
}

.buy-btn {
    background-color: #666666;
    color: white;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #535353;
}

.buy-btn:active {
    background-color: #707070;
}

.header__btn-cart {
    background-color: #ffffff;
    color: #373737;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.header__btn-cart:hover {
    background-color: #dbdbdb;
}

.header__btn-cart:active {
    background-color: #ffffff;
}

@media screen and (max-width: 425px) {
    .products__item {
        width: 410px;
    }

    .price {
        font-size: 25px;
        font-weight: normal;
    }

    .item__title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .buy-btn {
        font-size: 20px;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 768px) {
    .products__item {
        width: 305px;
    }
}