body{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.vue-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    background: rgba(0,0,0,0.5);
    padding: 20px 30px 20px 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 1 0 auto;
}

.logo {
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px;
}

.products__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 30px;
}

.item__title {
    margin-bottom: 0;
}

.price-wrap {
    display: block;
    font-style: italic;
    font-size: 12px;
    padding: 10px 0;
}

.price {
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

.btn {
    outline: none;
    border: none;
    background: none;
}

.buy-btn {
    background-color: #666666;
    color: white;
    padding: 5px 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #535353;
    transition: 0.3s;
}

.buy-btn:active {
    background-color: #707070;
}

.header__btn-cart {
    background-color: #ffffff;
    color: #373737;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.header__btn-cart:hover {
    background-color: #dbdbdb;
    transition: 0.3s;
}

.header__btn-cart:active {
    background-color: #ffffff;
}

.cart {
    width: 380px;
    position: absolute;
    right: 30px;
    top: 70px;
    background: #ffff;
    padding: 15px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.3);
    border-radius: 10px;
}

.cart__title {
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.cart__title_hidden {
    display: none;
}

.cart:before {
    content: '';
    position: absolute;
    right: 30px;
    top: -14px;
    border: 7px solid transparent;	border-bottom: 7px solid #fff;
}

.cart-products__item {
    display: flex;
    margin-bottom: 15px;
    position: relative;
}

.cart-desc {
    padding-left: 10px;
}

.cart-item__title {
    margin-bottom: 20px;
}

.cart-price-wrap {
    display: block;
    margin-bottom: 10px;
}

.quantity {
    display: block;
}

.cart_hidden {
    visibility: hidden;
}

.close-btn {
    position: absolute;
    top: 19px;
    right: 0;
    width: 30px;
    height: 25px;
    background: url(../images/cancel.svg) no-repeat center;
    background-size: 40%;
    border: 1px solid #707070;
    border-radius: 6px;
}

.close-btn:hover {
    background: url(../images/cancel.svg) no-repeat center #b9b9b9;
    background-size: 40%;
    transition: 0.3s;
}

.close-btn:active {
    background: url(../images/cancel.svg) no-repeat center #aaaaaa;
    background-size: 40%;
    border: 1px solid #aaaaaa;
}

.count {
    padding: 2px 6px;
    margin-right: 10px;
    color: #fff;
    background: #535353;
    border-radius: 5px;
}

.count_hidden {
    display: none;
}

.invisible{
    display: none;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}

.footer {
    flex: 0 0 auto;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.feedback-form__item {
    margin: 0 0 15px 0;
}

.item-wrap {
    display: flex;
    flex-direction: column;
}

.feedback-input, .feedback-textarea {
    padding: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.feedback-textarea {
    resize: none;
}

.feedback-title {
    color: white;
    text-align: center;
    font-weight: bold;
}

.feedback-form__submit {
    background-color: #ffffff;
    color: #373737;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.feedback-form__submit:hover {
    background-color: #dbdbdb;
    transition: 0.3s;
}

.feedback-form__submit:active {
    background-color: #ffffff;
}

.error-msg {
    margin-top: 5px;
    color: white;
    font-size: 10px;
    text-align: center;
}

.invalid{
    border: 2px solid red;
}

.input-wrap {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 425px) {
    .products__item {
        width: 410px;
    }

    .price-wrap {
        padding: 15px 0;
    }

    .price {
        font-size: 25px;
        font-weight: normal;
    }

    .item__title {
        font-size: 30px;
    }

    .buy-btn {
        font-size: 20px;
        padding: 10px 30px 10px 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .products__item {
        width: 305px;
    }
}